In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
worldpop = pd.read_csv('World population.csv', na_values = ' ')
worldpop

,Country,Continent,Date,GDP,GNI,Live births number,Live births rate,Deaths number,Death rate,Rate of increase,Infant deaths number,Infant deaths rate (per 1000 births),Life expectancy at birth male,Life expectancy at birth female,Total fertility rate
0,Algeria,Africa,2010,188681.0,8310.0,887810.0,24.7,157000.0,NaN,NaN,NaN,NaN,75.6,77.0,NaN
1,Aland Islands,Europe,2009,NaN,1140.0,267.0,9.7,247.0,9.0,0.7,NaN,NaN,79.4,84.1,1.68
2,Antigua and Barbuda,North America,2010,1118.0,17900.0,1255.0,13.8,491.0,5.4,8.4,11.0,NaN,74.0,79.7,NaN
3,Argentina,South America,2010,446044.0,17130.0,756176.0,18.7,318602.0,7.9,10.8,8961.0,11.9,71.6,79.1,2.39
4,Armenia,Asia,2007,10248.0,6100.0,40105.0,12.4,26830.0,8.3,4.1,433.0,10.8,70.2,76.6,1.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,United Kingdom of Great Britain and Northern I...,Europe,2008,2445408.0,36010.0,794383.0,12.9,579697.0,9.4,3.5,3745.0,4.7,77.5,81.7,1.96
101,United States,North America,2008,14991300.0,48820.0,4247694.0,14.0,2471984.0,8.1,5.8,28059.0,6.6,75.6,80.6,2.09
102,Uruguay,South America,2008,46710.0,14640.0,53199.0,16.0,31363.0,9.4,6.5,504.0,9.5,72.4,79.7,2.01
103,Venezuela (Bolivarian Republic of),South America,2007,316482.0,4330.0,615371.0,22.4,118594.0,4.3,18.1,6340.0,10.3,70.7,76.6,2.58
104,Viet Nam,Asia,2011,123600.0,12430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.4,75.8,1.99

In [21]:
worldpop.max()

Country                                      Viet Nam
Continent                               South America
Date                                             2011
GDP                                       1.49913e+07
GNI                                             86440
Live births number                        4.24769e+06
Live births rate                                 32.4
Deaths number                             2.47198e+06
Death rate                                         18
Rate of increase                                 26.7
Infant deaths number                           288192
Infant deaths rate (per 1000 births)             75.2
Life expectancy at birth male                    79.9
Life expectancy at birth female                  86.4
Total fertility rate                             5.42
dtype: object

In [22]:
worldpop.min()

Country                                 Aland Islands
Continent                                      Africa
Date                                             2007
GDP                                               484
GNI                                               870
Live births number                                 35
Live births rate                                  7.5
Deaths number                                      41
Death rate                                        1.1
Rate of increase                                 -4.8
Infant deaths number                                6
Infant deaths rate (per 1000 births)              1.7
Life expectancy at birth male                    42.2
Life expectancy at birth female                  43.1
Total fertility rate                             1.04
dtype: object

In [23]:
worldpop.mean()

Date                                      2009.257143
GDP                                     600780.301075
GNI                                      22902.947368
Live births number                      402767.927835
Live births rate                            14.569880
Deaths number                           207372.884211
Death rate                                   8.301282
Rate of increase                             5.620779
Infant deaths number                      8039.075000
Infant deaths rate (per 1000 births)         8.424590
Life expectancy at birth male               71.848571
Life expectancy at birth female             77.394286
Total fertility rate                         1.943600
dtype: float64

In [24]:
worldpop.median()

Date                                     2010.00
GDP                                     95994.00
GNI                                     16940.00
Live births number                      80290.00
Live births rate                           12.40
Deaths number                           53445.00
Death rate                                  8.10
Rate of increase                            4.10
Infant deaths number                      480.50
Infant deaths rate (per 1000 births)        5.30
Life expectancy at birth male              72.50
Life expectancy at birth female            78.70
Total fertility rate                        1.81
dtype: float64

In [26]:
worldpop.std()

Date                                    1.168732e+00
GDP                                     1.751253e+06
GNI                                     2.063400e+04
Live births number                      7.804396e+05
Live births rate                        5.861880e+00
Deaths number                           3.952717e+05
Death rate                              3.204035e+00
Rate of increase                        6.959400e+00
Infant deaths number                    3.437871e+04
Infant deaths rate (per 1000 births)    1.003120e+01
Life expectancy at birth male           7.034012e+00
Life expectancy at birth female         7.305449e+00
Total fertility rate                    7.023987e-01
dtype: float64